on:
  push

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: list variables
      run: |
       echo ${{GITHUB_BRANCH}}
       echo ${{GITHUB_REF}}
